@import "./variables.scss";
@import "./todo.scss";
@import "./heading.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: helvetica;
}
body {
	background: url(1.jpeg) no-repeat;
	background-size: cover;
	overflow-x: hidden;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}

form {
	min-height: 20vh;
	@include flex(0.7);
	justify-content: center;
	align-items: center;
	background: $black_color;
	input {
		padding: 0.5rem;
		font-size: 1.1rem;
		border: none;
		background: $white_color;
		border-radius: 35px;
	}
	button {
		padding: 0.5rem;
		font-size: 1.1rem;
		border: none;
		background: $white_color;
		border-radius: 35px;
		color: $maroon_color;
		background: $white_color;
		cursor: pointer;
		transition: all 0.3s ease;
		margin-left: 16px;
		border-radius: 35px;
		&:hover {
			background: $maroon_color;
			color: $white_color;
		}
	}
	select {
		outline: none;
		border: none;
		color: $maroon_color;
		width: 10rem;
		cursor: pointer;
		padding: 0.5rem;
		font-size: 17.6px;
	}
	.select {
		margin: 1rem;
		position: relative;
		overflow: hidden;
		&::after {
			content: "\25BC";
			position: absolute;
			background: $maroon_color;
			color: $white_color;
			top: 0;
			right: 0;
			left: 125px;
			border-radius: 35px;
			padding: 0.6rem;
			pointer-events: none;
			transition: all 0.3s ease;
		}
		&:hover {
			&::after {
				background: $white_color;
				color: $maroon_color;
			}
		}
	}
}