@import "./variables.scss";
.todo {
	@include flex(0.7);
	justify-content: center;
	align-items: center;
	background: $black_color;
	&__list {
		min-width: 30%;
		list-style: none;
		&__container {
			margin: 0.5rem;
			background: $white_color;
			color: $black_color;
			font-size: 1.1rem;
			@include flex(1);
			justify-content: space-between;
			align-items: center;
			transition: all 0.5s ease;
			&-item {
				padding: 0rem 0.5rem;
				flex: 1;
			}
			&-checkBtn {
				@include btns();
				color: $green_color;
				border: none;
				&:hover {
					background: $green_color;
					color: $white_color;
					opacity: 0.8;
				}
				.fa-check {
					pointer-events: none;
				}
				.completed {
					text-decoration: line-through;
					opacity: 0.5;
				}
			}
			&-editBtn {
				@include btns();
				color: $blue_color;
				&:hover {
					background: $blue_color;
					color: $white_color;
					opacity: 0.8;
				}
			}
			&-trashBtn {
				@include btns;
				color: $red_color;
				&:hover {
					background: $red_color;
					color: $white_color;
					opacity: 0.8;
				}
				.fa-trash{
					pointer-events: none;
				}
				.fall {
					transform: translate(8rem) rotateZ(20deg);
					opacity: 0;
				}
			}	
		}		
	}		
}